title{
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}
h1 {
  font-size: 26px;
  margin-top: 40px;
}

h2 {
  font-size: 22px;
  margin-top: 20px;
}

h3 {
  font-size: 18px;
  margin-top: 15px;
}
p {
  font-size: 10px
  font-family: "sans-serif";
  margin-top: 5px;
  text-align: left;
}
