@font-face {
  font-family: "JF-Dot-Ayu18";
  src: url("https://cdn.jsdelivr.net/gh/2024tonegonproject/Hell-of-World-official-site@main/fonts/JF-Dot-Ayu18.ttf") format("truetype");
}

h1 {
  font-size: 26px;
  margin-top: 40px;
  text-align: center;
}

h2 {
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}

h3 {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}

h5 {
  font-size: 14px;
  text-align: center;
}

body {
  font-size: 14px;
  font-family: "JF-Dot-Ayu18","Yu Gothic",sans-serif;
  margin-top: 5px;
  background-color: #000;
  color: #fff;
}
p {
    text-align: center;
}
.Icons
{
  width: 40px; height: 40px;
}
