@font-face {
  font-family: "JF-Dot-Ayu18";
  src: url(https://raw.githubusercontent.com/2024tonegonproject/Hell-of-World-unofficial-site/main/JF-Dot-Ayu18.ttf) format("truetype");
}

title{
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-size: 26px;
  margin-top: 40px;
  text-align: center;
}

h2 {
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}

h3 {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}

h5 {
  font-size: 6px;
  text-align: center;
}

body {
  font-size: 14px;
  font-family: "JF-Dot-Ayu18","Yu Gothic",sans-serif;
  margin-top: 5px;
}
p {
    text-align: center;
}
