@font-face {
  font-family: "JF-Dot-Ayu18";
  src: url("/Hell-of-World-official-site/fonts/JF-Dot-Ayu-18.woff") format("woff");
}

a {
  color: #ffff00;
}

a:hover {
  color: #ff2020;
}


h1 {
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}

h5 {
  font-size: 16px;
  text-align: center;
}

body {
  font-size: 16px;
  font-family: "JF-Dot-Ayu18","Yu Gothic",sans-serif;
  margin-top: 5px;
  background-color: #000;
  color: #fff;
}
p {
    text-align: center;
}
.ctrs {
  text-align: center;
}
.Icons {
  width: 30px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.name {
  display: inline-block;
  vertical-align: middle;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

body *.show {
  opacity: 1;
  transform: translateY(0);
}
.no-fade, .no-fade * {
  opacity: 1 !important;
  transform: none !important;
  transition: none !important;
}
.Hl{
  margin: 0 auto; 
  text-align: left;
}

.comment-box {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
  }

  .reply-box {
    background: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
  }

  .fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  .fade-up.show {
    opacity: 1;
    transform: translateY(0);
  }
